@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>We Care</h1>
<p>Believes everyone deserves a future. <br />
    In the U.S., we give refugees the opportunity to learn skills to have a career and be productive in this community.<br />
    We do whatever it takes for to change their lives and the future we share.</p>
