@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15  Someware Way<br />
    Columbus, Ohio 1234-5678<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mayada.mahsoub@icstars-columbus,org">Support@wecare.org</a><br />
    <strong>Marketing:</strong> <a href="mahsoub_mayada@yahoo.com">Marketing@wecare.org</a>
</address>