
@{
    ViewBag.Title = "Culture";
}

<h2>Culture</h2>

<center>
    <div class="row">
        <div class="col-sm-6">
            <h2>
                Difficulty speaking and learning English
            </h2>
            I don’t have to tell you that safe, affordable housing is expensive. So imagine trying to obtain that with low-paying jobs. For that reason, large families often choose to live together, creating stressful, noisy environments that are hardly conducive to studying or resting.
            Again, refugees and immigrants fall victim to exploitation, this time from their landlords. In Utah, for instance, I worked with a group of Karen refugees from Myanmar who were forced to live in apartments known by the landlord to have bedbugs. 
            Once, one of those buggers was spotted, the families would be forced to pay an expensive fee to have them removed, and the landlord would attempt to charge them additional fees or threaten to kick them out. 
            Unable to speak English and unfamiliar with our laws, many of the families complied- even though it was clearly a scam.
        </div>
        <div class="col-sm-6">
            <img class =" img-width" width="100% "src="https://contentblog.abaenglish.com/wp-content/uploads/2015/12/18144658/overcome-your-fear-of-speaking-english-abaenglish.jpg"/>
        </div>
    </div>
</center>