
@{
    ViewBag.Title = "Economic";
}

<h1>Economic</h1>
<br />
<br />

<center>
    <div class="row">
        <div class="col-sm-4">
            <h2>
                Securing Work
            </h2>
            While most refugees and immigrants are happy to take whatever job is available when they first enter the country, finding a job, and slowly moving up the ladder, is incredibly difficult. 
            Even if you ignore undocumented immigrants who face additional challenges securing work, trouble speaking English is a major problem in positions you might not expect like labor. Refugees and immigrants who are educated and who formerly had strong jobs back home, find it frustrating that they can’t obtain the same jobs here. 
            Employers typically prefer work experience within the US, and certifications outside of the US usually don’t transfer. 
            That’s why it’s not uncommon for your taxi driver to have formerly worked as an educator or engineer.
        </div>
        <div class="col-sm-4">
            <img class="img-width" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSppSzvZLovLj3AYykC-lAm3DKhq6VUcoJzQO4jaVMVcBL2HpOyqQ" />
        </div>
        <div class="col-sm-4">
            <h2>
                
            </h2>
            Additionally, refugees and immigrants are easy victims for discrimination and exploitation in the workplace. Some employers recognize the sense of urgency and desperation among these groups to keep their jobs, so they will have them take the less desirable and even dangerous roles. 
            Undocumented immigrants, particularly, assume they have no rights, and workers who can’t speak English are easy targets.
        </div>
    </div>
</center>
