@{
    ViewBag.Title = "Home Page";
}
<center>

    <div class="jumbotron">
        <h1>Here To Help You</h1>
        <br />
        <br />
        <img width="100%"src="https://imadopted.org/wp-content/uploads/2017/01/languages-490922474.jpg" />
    </div>
</center>
    

    <center><h1>WE...</h1></center>
    <br />
    <br />
    <center>
        <div class="row">
            <div class="col-sm-6">
                <h1>Create</h1>
                <h2>
                    <ul>
                        <li>Jobs,</li>
                        <li>Partnerships,</li>
                        <li>And Happiness</li>
                    </ul>
                </h2>
            </div>
            <div class="col-sm-6"><img class="img-width" src="http://1.bp.blogspot.com/-UsfkKRbFIak/UZDPvEKA2LI/AAAAAAAAAmc/uralX3MhTtA/s1600/building-the-bridge-to-success.jpg" /></div>
        </div>


        <div class="row">
            <div class="col-sm-6"><img class="img-width" src="http://merriamccst.web707.discountasp.net/Libraries/SiteImages/community.sflb.ashx" /></div>
            <div class="col-sm-6">
                <h1>Achieve</h1>
                <h2>
                    <ul>
                        <li>Goals,</li>
                        <li>Success,</li>
                        <li>And Dreams</li>
                    </ul>
                </h2>

            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <h1>Restore</h1>
                <h2>
                    <ul>
                        <li>Hope,</li>
                        <li>Faith,</li>
                        <li>And Families</li>

                    </ul>
                </h2>

            </div>
            <div class="col-sm-6"><img class="img-width" src="https://pbs.twimg.com/profile_images/498216245947142145/KQyWop7P_400x400.jpeg" /></div>
        </div>


        <div class="row">
            <div class="col-sm-6"><img class="img-width" src="http://www.contentcurationmarketing.com/wp-content/uploads/2016/10/curata__HV1RNgKtoP0DbMh.jpeg" /></div>
            <div class="col-sm-6">
                <h1>Engage</h1>
                <h2>
                    <ul>
                        <li>Communities,</li>
                        <li>Companies,</li>
                        <li>And People</li>
                    </ul>
                </h2>

            </div>
        </div>
    </center>
    <br />
    <br />
    <center>
        <div class="row">
            <div class="col-sm-12">
                <img src="http://sgcgas.com/img/we-care.png" />
            </div>
        </div>
    </center>
