
@{
    ViewBag.Title = "Language";
}

<h1>
    Language Issues
</h1>
<center>
    <div class="row">
        <div class="col-sm-6">
            <h2>
                Difficulty speaking and learning English
            </h2>
            The United States is not known for being multilingual. So imagine arriving here, unable to speak English. Try getting a job, making friends, or even completing basic tasks like buying food or filling out forms.
            To address this, many refugees and immigrants take ESL classes, but finding the time between jobs and caring for kids can be difficult. Especially difficult if you weren’t literate in your native tongue to begin with.
        </div>
        <div class="col-sm-6">
            <img class="img-width" src="http://jimmyesl.com/wp-content/uploads/2014/03/immigrants-learning-english.jpg" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            <img class="img-width" src="http://thefederalistpapers.integratedmarket.netdna-cdn.com/wp-content/uploads/2014/11/82980859.jpg" />
        </div>
        <div class="col-sm-6">
            <h2>
                Raising children and helping them succeed in school
            </h2>
            One of the biggest obstacles refugees and immigrant parents report is raising their children in a new, unfamiliar culture. Parents often find that their children are quickly “Americanized,” which may be at odds with their own culture.
            Additionally, kids tend to pick up English much faster than their parents. This throws off the parent-child dynamic, and you know that kids, especially teens, are going to use this to their advantage.
        </div>
    </div>
</center>