
@{
    ViewBag.Title = "Social";
}

<h2></h2>

<center>
    <div class="row">
        <div class="col-sm-6">
            <h2>
                Accessing Services
            </h2>
            Undocumented immigrants have an especially difficult time accessing services, largely because they are afraid of being deported. Consequently, people will avoid seeing the doctor or reaching out for services like legal guidance when they’re badly needed.
            Those who are here legally aren’t necessarily in the clear, though. Difficulty speaking English, trouble taking off work, and limited transportation (we’ll get to that) are all very real issues.
            Accessing mental health issues is especially problematic. Many times, refugees and immigrants have been exposed to violence, rape, even torture- but they may not know how to seek help. Furthermore, mental health issues are taboo in many cultures, creating an additional barrier for those in need. 
            For those who are able to successfully obtain the services they need, the experience is usually negative. In Utah, I heard stories about law enforcement professionals misunderstanding a victim’s statement due to language barriers, and doctors misdiagnosing sick patients for the same reason.


        </div>
        <div class="col-sm-6">
            <img class="img-width" src ="https://image.slidesharecdn.com/barrierstoservices-undpphnompenhep-140623114600-phpapp01/95/human-rights-barriers-to-accessing-hiv-health-services-10-638.jpg?cb=1403524087" />
        </div>
    </div>
</center>