
@{
    ViewBag.Title = "statistics";
}

<h2>Statistics</h2>

<center>
    <div class="row">
        <div class="col-sm-12">
            <img   src="http://www.nap.edu/visualizations/integration-of-immigrants/immigrants_graphic.png" />
        </div>

    </div>
</center>
